/* stylization of header */

header {
  color: white;
  background: linear-gradient(
    to right,
    rgb(51, 90, 174) 0%,
    rgb(73, 1, 160) 100%
  );
  padding: 5px 0;
}

/* stylization of current weather box */
.currentWeather {
  border: 2px solid grey;
  margin: 10px 0;
  padding: 5px;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
}

/* formatting of forecast card info */

#forecast-cards > div {
  background-color: rgb(59, 76, 92);
  color: white;
  min-width: 200px;
  padding: 5px;
  margin-top: 8px;
}

/* adjusting width of labels */

label {
  width: 100%;
}

/* stylize inputs and clear button */

input,
.button,
#clearSearches {
  width: 95%;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

/* clear button is red */

#clearSearches {
  background-color: red;
  color: white;
}

/* searh button is blueish */

#searchButton {
  background-color: rgb(95, 116, 223);
  color: white;
}

/* stylization for alert message */

.alert {
  position: fixed;
  width: 80%;
  left: 10%;
  height: 20%;
  top: 40%;
  justify-content: center;
  visibility: hidden;
}

/* hide container until needed */

#mainContainer {
  display: none;
}

/* previous search buttons styled */

.button {
  background-color: rgb(82, 83, 84);
  color: white;
}

/* hover affect on previous search buttons */

.button:hover {
  background-color: rgb(95, 116, 223);
}
